## DQA and Data Cleaning NewCustomerList

In [17]:
#importing libraries
import pandas as pd
pd.set_option("display.max_columns",50)
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings(action='ignore')

In [22]:
#loading and reading the file
df_newcustomerlist = pd.read_excel('Raw_data.xlsx',sheet_name='NewCustomerList')
df_newcustomerlist.head()

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Rank,Value
0,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,14,45 Shopko Center,4500,QLD,Australia,6,0.81,1.0125,1.265625,1.075781,1,1,1.718750
1,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,16,14 Mccormick Park,2113,NSW,Australia,11,0.75,0.7500,0.937500,0.796875,1,1,1.718750
2,Ardelis,Forrester,Female,10,1974-08-28,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,10,5 Colorado Crossing,3505,VIC,Australia,5,0.71,0.7100,0.710000,0.710000,1,1,1.718750
3,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,5,207 Annamark Plaza,4814,QLD,Australia,1,0.50,0.6250,0.625000,0.625000,4,4,1.703125
4,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,19,115 Montana Place,2093,NSW,Australia,9,0.99,0.9900,1.237500,1.237500,4,4,1.703125

In [23]:
df_newcustomerlist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           1000 non-null   object
 1   last_name                            971 non-null    object
 2   gender                               1000 non-null   object
 3   past_3_years_bike_related_purchases  1000 non-null   int64
 4   DOB                                  983 non-null    datetime64[ns]
 5   job_title                            894 non-null    object
 6   job_industry_category                835 non-null    object
 7   wealth_segment                       1000 non-null   object
 8   deceased_indicator                   1000 non-null   object
 9   owns_car                             1000 non-null   object
 10  tenure                               1000 non-null   int64
 11  address                              1000 non-null   object
 12  postcode                             1000 non-null   int64
 13  state                                1000 non-null   object
 14  country                              1000 non-null   object
 15  property_valuation                   1000 non-null   int64
 16  Unnamed: 16                          1000 non-null   float64
 17  Unnamed: 17                          1000 non-null   float64
 18  Unnamed: 18                          1000 non-null   float64
 19  Unnamed: 19                          1000 non-null   float64
 20  Unnamed: 20                          1000 non-null   int64
 21  Rank                                 1000 non-null   int64
 22  Value                                1000 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(6), object(11)
memory usage: 179.8+ KB

* There are some **unamed variables** which is of no use for anaysis since so they **can be dropped** from the dataset.
* `last_name` **can be dropped** as there are some missing values in it and first name is enough to proceed for our analysis.

In [24]:
#Dropping unanamed variables
df_newcustomerlist = df_newcustomerlist.drop(['Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','last_name'],axis=1)
df_newcustomerlist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           1000 non-null   object
 1   gender                               1000 non-null   object
 2   past_3_years_bike_related_purchases  1000 non-null   int64
 3   DOB                                  983 non-null    datetime64[ns]
 4   job_title                            894 non-null    object
 5   job_industry_category                835 non-null    object
 6   wealth_segment                       1000 non-null   object
 7   deceased_indicator                   1000 non-null   object
 8   owns_car                             1000 non-null   object
 9   tenure                               1000 non-null   int64
 10  address                              1000 non-null   object
 11  postcode                             1000 non-null   int64
 12  state                                1000 non-null   object
 13  country                              1000 non-null   object
 14  property_valuation                   1000 non-null   int64
 15  Rank                                 1000 non-null   int64
 16  Value                                1000 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(5), object(10)
memory usage: 132.9+ KB

### Checking and handling missing values.

In [25]:
df_newcustomerlist.isnull().sum()

first_name                               0
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     17
job_title                              106
job_industry_category                  165
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                   0
address                                  0
postcode                                 0
state                                    0
country                                  0
property_valuation                       0
Rank                                     0
Value                                    0
dtype: int64

* `DOB` has only 17 missing values, so they can be dropped,as imputing dob doesnt make sense.
* whereas `job_title` and `job_industry_category` can be imputed using simple central tendency.

In [ ]:
# replacing null values using central tendency
df_newcustomerlist['job_title'].fillna(df_newcustomerlist['job_title'].mode().values[0],inplace=True)
df_newcustomerlist['job_industry_category'].fillna(df_newcustomerlist['job_industry_category'].mode().values[0],inplace=True)

'Associate Professor'