## DAQ and Data Cleaning CustomerAddress

In [2]:
#importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
from datetime import date

warnings.filterwarnings(action='ignore')
%matplotlib inline

In [4]:
cust_add = pd.read_excel('Raw_data.xlsx',sheet_name='CustomerAddress')
cust_add.head()

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9

In [5]:
cust_add.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

In [6]:
cust_add.isnull().sum()

customer_id           0
address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64

* There are **NO** missing values in this dataset.

### Checking inconsistency in data

In [7]:
cust_add['state'].value_counts()

NSW                2054
VIC                 939
QLD                 838
New South Wales      86
Victoria             82
Name: state, dtype: int64

* **New South Wales, Victoria** can be replaced with **NSW, VIC** respectively.

In [8]:
def replace_state(state):
    
    if state=='New South Wales':
        return 'NSW'
    elif state=='Victoria':
        return 'VIC'
    else:
        return state
    
    
cust_add['state'] = cust_add['state'].apply(replace_state)

In [9]:
cust_add['state'].value_counts()

NSW    2140
VIC    1021
QLD     838
Name: state, dtype: int64

In [10]:
cust_add['country'].value_counts()

Australia    3999
Name: country, dtype: int64

### checking for duplicates in data

In [11]:
cust_add[cust_add.duplicated()==True]

Empty DataFrame
Columns: [customer_id, address, postcode, state, country, property_valuation]
Index: []

* There are **NO** duplicates in the dataset.
* saving the data as csv file for further analysis.

In [12]:
cust_add.to_csv('CustomerAddress.csv')